/* html,
body { */
/* height: 100%; */
/* overflow: hidden; */
/* overscroll-behavior: none; */
/* }
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
} */
/* html {
  overflow-x: hidden;
} */
